<div class="carousel-container">
	<div class="cards-horizontal carousel-items-container">
		{{ range .JSON.Array "videos" }}
			<div class="card widget-content-frame thumbnail-parent">
				<img
					class="video-thumbnail thumbnail"
					loading="lazy"
					src="{{ .String "thumbnail" }}"
					alt=""
				/>

				<div class="margin-top-10 margin-bottom-widget flex flex-column grow padding-inline-widget">
					<a
						class="text-truncate-2-lines margin-bottom-auto color-primary-if-not-visited"
						href="{{ .String "url" }}"
						target="_blank"
						rel="noreferrer"
					>{{ .String "title" }}</a>

					<ul class="list-horizontal-text flex-nowrap margin-top-7">
						<li
							class="shrink-0"
							{{ .String "publishedAt" | parseRelativeTime "rfc3339" }}
						></li>

						<li class="min-width-0">
							<a
								class="block text-truncate"
								href="https://www.youtube.com/channel/{{ .String "channelId" }}"
								target="_blank"
								rel="noreferrer"
							>{{ .String "channel" }}</a>
						</li>
					</ul>
				</div>
			</div>
		{{ end }}
	</div>
</div>
