<div class="carousel-container">
	<div class="cards-horizontal carousel-items-container">
		{{ range .JSON.Array "videos" }}
			<div class="card widget-content-frame thumbnail-parent relative">
				<img
					class="video-thumbnail thumbnail"
					loading="lazy"
					src="{{ .String "thumbnail" }}"
					alt=""
				/>

				{{ if .Bool "memberOnly" }}
					<span
						class="uppercase size-h6"
						style="position: absolute; top: 0.7rem; right: 0.7rem; z-index: 1; padding: 0.15rem 0.4rem; border: 2px solid var(--color-widget-background); border-radius: var(--border-radius); background: var(--color-primary); color: var(--color-widget-background); line-height: 1.2;"
					>Member</span>
				{{ end }}

				<div class="margin-top-10 margin-bottom-widget flex flex-column grow padding-inline-widget">
					<a
						class="text-truncate-2-lines margin-bottom-auto color-primary-if-not-visited"
						href="{{ .String "url" }}"
						target="_blank"
						rel="noreferrer"
					>{{ .String "title" }}</a>

					<ul class="list-horizontal-text flex-nowrap margin-top-7">
						<li
							class="shrink-0"
							{{ .String "publishedAt" | parseRelativeTime "rfc3339" }}
						></li>

						<li class="min-width-0">
							<a
								class="block text-truncate"
								href="https://www.youtube.com/channel/{{ .String "channelId" }}"
								target="_blank"
								rel="noreferrer"
							>{{ .String "channel" }}</a>
						</li>
					</ul>
				</div>
			</div>
		{{ end }}
	</div>
</div>
